* {
    font-family: rubik, "Helvetica Neue", Helvetica, sans-serif;;
}

.foto, #foto1{
    width: 240px;
    height: 240px;
    background-color: rgb(128, 11, 83);
    border-radius: 50%;
    text-align: center;
    background: rgb(61,32,58);
    background: linear-gradient(90deg, rgba(61,32,58,1) 0%, rgba(59,4,57,1) 44%, rgba(49,3,71,1) 91%);

}

#logogit, #logoig, #logolink{
    width:11%;
    padding: 10px;
    
}

.hrr{
    width: 65%; /* Calculamos el ancho como un tercio del ancho de la pantalla */
    border: none; /* Eliminamos el borde por defecto del HR */
    height: 2px; /* Definimos la altura de la línea */
    background-color: rgb(77, 133, 114); /* Color de la línea */
    
}
.madimi-one-regular {
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
/* Alineamos la línea a la izquierda */
.izq{
    float: left;
}
.container1 {
    font-size: 115%;
    width: 30%;
    overflow: break-word;
    color: rgba(23, 204, 228, 0.973);
}
.cuerpo {
    background: rgb(61,32,58);
    background: linear-gradient(90deg, rgba(61,32,58,1) 0%, rgba(59,4,57,1) 44%, rgba(49,3,71,1) 91%);
}

.container2{
    font-size: 124%;
    width: 35%;
    overflow: break-word;
    color: rgba(23, 204, 228, 0.973);
    text-align: center;
}

.container3{
    font-size: 124%;
    width: 35%;
    overflow: break-word;
    color: rgba(23, 204, 228, 0.973);
    text-align: center;
}
.strong, .strong1, .strong2, .strong3, .tituloa, .strong4, .strong5{
    color: rgb(46, 148, 97);
}


.container {
    display: flex;
}

.container1, .container2, .container3 {
    margin-bottom: 2px; /* Ajusta el espacio entre los divs */
    padding: 10px;
    border: 1px solid rgb(131, 7, 75);
    background-color: rgb(73, 6, 68);
    width: 100%; /* Opcional: asegura que los divs ocupen todo el ancho del contenedor */
    box-sizing: border-box; /* Opcional: incluye el padding y el borde en el ancho total */
}

.titulo1, .titulo2, .t1, .t2, .t3, .t4, .t5, .t6{
    color: rgb(46, 148, 97);
}
